h1{color: aliceblue;
    margin-top: 2cm;
    margin-left: 2cm;   
}

body{
    height: 80vh;
}

#D2 {
    border: 5px solid;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background: rgb(87, 209, 99);
    text-align: center;
}

#D3{
    border: 5px solid;
    border-radius: 10px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	background: rgb(35, 145, 46);
    margin-left:12cm;
    text-align: center;
}

#D4{border: 5px solid;
    border-radius: 10px;
	width: 150px;
	height: 30px;
	font-size: 20px;
	background: rgb(59, 137, 107);
    margin-left:18cm;
    text-align: center;
}

#i2, #i3, #i4 {
    width: 150px;
    height: 150px;
}
.s {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
}

.game-container {
    text-align: center;
    margin: 10px;
}

#D2, #D3, #D4 {
    margin: 10px; /* Adjust the spacing between items */
}


body{
    background-image: url("bgwallpeper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#playerText{
    color: blue;
}
#computerText{
    color: red;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;   
}

#gameContainer{
    text-align: center;
    margin-top: 2cm;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#resetBtn, #restartBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
